<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if</title>
</head>
<body>
    <div id="app">
        <P v-if="show">要显示！</P>
        <p v-if="hide">不显示！</p>
        <p v-if="height > 155">小明身高:{{height}}cm</p>
        <p v-if="height1 > 155">小红身高:{{height1}}cm</p>
    </div>
        <script src="../../js/vue.js"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    show: true,
                    hide: false,
                    height: 170,
                    height1: 150
                }
            })
        </script>
</body>
</html>